:root{
    --blue-color: blue;
    --yellow-color: yellow;
    --size: 0%;
}

.blue-background {
    background-color: var(--blue-color);
}

.yellow-background {
    background-color: var(--yellow-color);
}

#picture{
    min-width: 0%;
    max-width: 100%;
    width: calc(50% + var(--size));
}

.display {
    display: block;
}

.not-displayed {
    display: none;
}

.buttons{
    padding-bottom: 10px;
}